body {
	/* To center the button */
	display: grid;
	min-height: 100vh;
	place-items: center;
	background-color: #001233;
}
.main_button_cont {
	width: 180px;
	height: 70px;
	padding: 0.5rem 1rem;
	position: relative;
	border-radius: 15px;
	background: #050337;
	font-size: 1.2rem;
	overflow: hidden;
	cursor: none;
	border: 2px solid #023e7d;
	transition: all 1s;
	color: white;
}
.main_button_cont:hover {
	color: #f20089;
	border: 2px solid #e500a4;
	-webkit-box-shadow: 2px 2px 31px 0px #e500a4;
	-moz-box-shadow: 2px 2px 31px 0px #e500a4;
	box-shadow: 2px 2px 31px 0px #e500a4;
}
.main_button_cont::before,
.main_button_cont::after {
	z-index: 1;
	--size: 0;
	/* When cursor outside the button, make the cursor's size 0 */
	content: '';
	position: absolute;
	border-radius: 50%;
	transition: width 0.2s ease, height 0.2s ease;
	transform: translateX(-50%) translateY(-50%);
}

/* When the cursor is inside the button, increse it's size */
.main_button_cont:hover::before,
.main_button_cont:hover::after {
	--size: 15px;
}

/* Main cursor */
.main_button_cont::before {
	/* Using the position from JavaScript */
	left: let(--cursorX);
	top: let(--cursorY);
	width: let(--size);
	height: let(--size);
	z-index: 2;
	background-color: #f20089;
}

/* Cursor follower */
.main_button_cont::after {
	/* Using from JavaScript */
	rotate: let(--directionAngle);
	left: let(--followerX);
	top: let(--followerY);

	/* It'll be an ellipse when cursor is moving and a circle when it's still */
	width: let(--followerWidth);
	height: calc(let(--size) / 2);
	background-color: #e500a4;
}
