body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(220.55deg, #5D85A6 0%, #0E2C5E 100%);
    color: aliceblue;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace ;
    font-weight: 900;
}

.grid {
    width: 300px;
    height: 300px;
    border: 1px solid aliceblue;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
}

.invader {
    background-color: rgb(163, 91, 230);
    border-radius: 10px;
}

.shooter {
    background-color: rgb(191, 8, 148);
    ;
}

.laser {
    background-color: orange;
}

.boom{
    background-color: red;
}